openapi: 3.1.0
info:
  title: Humain Kiosk — Device API
  version: "1.0"
  description: |
    The Device API is consumed by physical kiosk terminals, VoIP adapters, and website
    widgets. All requests require a device credential issued from the Humain admin panel.

    **Base URL:** `https://api.humain.ai` — there is no separate sandbox host. Sandbox is a
    property of the credential, not the URL: issue an `hk_test_…` credential from the admin
    panel and call the exact same endpoints. In sandbox mode, text sessions echo the input back
    verbatim and voice sessions run a record → beep → echo loop — no LLM call is made, per-turn
    guardrail/FraudGuard checks do not run, and no usage is billed. See
    [Sandbox mode](/concepts/sandbox-mode).

    Opening a session returns an `agent_url` — use it as the base URL for every subsequent
    real-time call (WebSocket, WebRTC, session end) instead of assuming the same host that
    served `POST /v1/sessions`. In most deployments `agent_url` is the same public API host
    behind a reverse proxy; treat it as opaque and always use the value returned.

servers:
  - url: https://api.humain.ai
    description: Production and sandbox — sandbox behavior is selected by using an hk_test_ credential, not a different URL

security:
  - DeviceToken: []

tags:
  - name: Sessions
    description: Open, interact with, and close conversation sessions.
  - name: Voice (WebRTC)
    description: Establish real-time voice sessions over WebRTC.
  - name: Webhooks
    description: |
      Manage webhook endpoints and inspect delivery history. Part of the Admin API —
      authenticated with the admin session cookie, not a device credential.
  - name: Analytics
    description: |
      Query session and usage analytics for a workspace. Part of the Admin API —
      authenticated with the admin session cookie, not a device credential.

paths:
  /v1/sessions:
    post:
      operationId: openSession
      tags: [Sessions]
      summary: Open a session
      description: |
        Creates a new conversation session for the authenticated kiosk. Returns a
        `session_id` and an `agent_url` — every subsequent real-time call for this session
        (WebSocket text, WebRTC voice, session end) goes to `agent_url`, not necessarily the
        host that served this request.

        The `mode` field determines which interaction pattern is available:
        - `text` — WebSocket messaging (see [WebSocket streaming](/connections/websocket-streaming))
        - `voice` — WebRTC real-time audio
        - `voip` — SIP / VoIP telephony bridge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenSessionRequest"
            examples:
              text:
                summary: Open a text session
                value:
                  mode: text
              voice:
                summary: Open a voice session
                value:
                  mode: voice
              textWithLanguage:
                summary: Open a text session with language preference
                value:
                  mode: text
                  preferred_language: "tr"
              textWithVariables:
                summary: Open a text session with dynamic variables
                value:
                  mode: text
                  conversation_initiation_data:
                    variables:
                      customer_name: "Alice"
                      booking_ref: "TK-9021"
      responses:
        "201":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenSessionResponse"
              example:
                session_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                agent_url: "https://api.humain.ai"
                detected_language: "tr"
        "400":
          description: A variable referenced by the persona was not provided.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: MISSING_REQUIRED_VARIABLE
                message: "Required variable not provided: booking_ref"
                details:
                  variable: booking_ref
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "402":
          $ref: "#/components/responses/PlanLimitReached"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ProviderError"

  /v1/sessions/{sid}/ws-ticket:
    post:
      operationId: mintWSTicket
      tags: [Sessions]
      summary: Mint a WebSocket auth ticket
      description: |
        Mints a short-lived, single-use ticket so a browser can authenticate the WebSocket
        upgrade in `GET {agent_url}/v1/sessions/{sid}/ws`. Browsers cannot set an
        `Authorization` header on a WebSocket handshake, so the raw device token never
        appears in the WS URL — pass this ticket as `?ticket=` instead.

        Non-browser clients (native apps, servers, embedded devices) can skip this call
        entirely and send `Authorization: Bearer` directly on the WS upgrade.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "201":
          description: Ticket issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WSTicketResponse"
              example:
                ticket: "wst_8f2a1c4e9b7d3f6a0c5e2b8d1a4f7c9e"
                expires_in: 30
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          description: Session belongs to a different credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/sessions/{sid}/ws:
    get:
      operationId: streamSessionWS
      tags: [Sessions]
      summary: Text session (WebSocket)
      description: |
        Upgrades to a WebSocket for text conversation turns. **Served on `agent_url`**, the
        base URL returned by `POST /v1/sessions` — not necessarily the host that served that
        request. Standard HTTP `101 Switching Protocols` response.

        **Auth** — non-browser clients send `Authorization: Bearer <token>` on the upgrade
        request. Browsers cannot set that header on a WS handshake, so first call
        `POST /v1/sessions/{sid}/ws-ticket` and pass the result as `?ticket=<raw>`.

        **Sending a message** — one JSON text frame per turn:
        ```json
        {"type": "message", "content": "What are your opening hours?"}
        ```

        **Receiving a response**:
        ```json
        {"type": "response", "content": "We are open Monday to Friday, 9 AM–6 PM.", "message_id": "3fa85f64-..."}
        ```

        **Errors** arrive as a JSON frame on the same connection — the WebSocket is not
        closed with a 4xxx code:
        ```json
        {"type": "error", "code": "TURN_ERROR", "message": "INPUT_REJECTED: Contains a blocked phrase."}
        ```
        The `code` field is `TURN_ERROR` for any pipeline failure (guardrail rejection,
        FraudGuard block, rate limit, provider error); the real machine-readable reason is
        the `SCREAMING_SNAKE_CASE` prefix of `message`, before the first `: `. `SESSION_ENDED`
        and `SERVICE_UNAVAILABLE` are sent as distinct `code` values.

        **Session expiry warning** — sent once, `SESSION_TIME_WARNING_SECONDS` (default 60s)
        before the session's time limit:
        ```json
        {"type": "session_expiring", "message": "Your session will expire in 60 seconds."}
        ```
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "101":
          description: Switching Protocols — WebSocket connection established
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Session not found or expired (manifest not in Redis).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/sessions/{sid}/end:
    post:
      operationId: endSession
      tags: [Sessions]
      summary: End a session
      description: |
        Closes the session, flushes usage events, and releases server resources. **Served on
        `agent_url`**, not necessarily the host that served `POST /v1/sessions`.
        Always call this endpoint when the conversation ends — sessions left open are
        cleaned up automatically after the session's time limit (default 4 hours,
        `end_reason: time_limit`) or after a period of inactivity (`end_reason: abandoned`),
        but calling `end` explicitly (`end_reason: clean`) is faster and more accurate for
        billing.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "204":
          description: Session closed — no body returned
        "400":
          $ref: "#/components/responses/SessionEnded"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/sessions/{sid}/webrtc/offer:
    post:
      operationId: webrtcOffer
      tags: [Voice (WebRTC)]
      summary: Exchange WebRTC SDP offer
      description: |
        Sends the client's SDP offer and returns the server's SDP answer. **Served on
        `agent_url`**, not necessarily the host that served `POST /v1/sessions`. Call this
        after `RTCPeerConnection.createOffer()` and `setLocalDescription()`. Once you receive
        the answer, call `setRemoteDescription()` on the peer connection.

        Requires a session opened with `mode: voice` or `mode: voip` — any other mode
        returns `400 INVALID_MODE`.

        ICE candidates can be submitted concurrently via `POST {agent_url}/v1/sessions/{sid}/webrtc/ice`.
        Prefer the `ice_servers` array returned by `POST /v1/sessions` (when present) over
        hardcoding a STUN server.

        The answer negotiates a data channel named `control` (id 0) carrying JSON control
        events — `{"type":"session_expiring","seconds_left":N}` and
        `{"type":"error","code":"SESSION_ENDED","message":"..."}`.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebRTCOfferRequest"
      responses:
        "200":
          description: SDP answer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebRTCOfferResponse"
        "400":
          description: Invalid mode or malformed SDP.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidMode:
                  summary: Session is not voice/voip
                  value:
                    error: INVALID_MODE
                    message: Session must be in voice or voip mode to use WebRTC
                    details: {}
                invalidSDP:
                  summary: Malformed SDP offer
                  value:
                    error: INVALID_SDP
                    message: Failed to parse SDP offer.
                    details: {}
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          description: Voice pipeline is not enabled on this server, or the provider is unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/sessions/{sid}/webrtc/ice:
    post:
      operationId: submitICECandidate
      tags: [Voice (WebRTC)]
      summary: Submit ICE candidate
      description: |
        Submits a WebRTC ICE candidate discovered by the client during the connection
        establishment phase. **Served on `agent_url`**, not necessarily the host that served
        `POST /v1/sessions`. Call this for each candidate emitted by the
        `RTCPeerConnection.onicecandidate` event, after a successful
        `POST {agent_url}/v1/sessions/{sid}/webrtc/offer`.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebRTCICERequest"
      responses:
        "204":
          description: ICE candidate accepted — no body returned
        "400":
          description: |
            One of:
            - `NO_WEBRTC_SESSION` — `webrtc/offer` was never called for this session
            - `WEBRTC_RECONNECT_REQUIRED` — the previous peer connection was closed; call
              `webrtc/offer` again to re-negotiate
            - `INVALID_CANDIDATE` — the candidate could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noSession:
                  summary: offer never called
                  value:
                    error: NO_WEBRTC_SESSION
                    message: "WebRTC session not found — call /webrtc/offer first"
                    details: {}
                reconnectRequired:
                  summary: peer connection closed
                  value:
                    error: WEBRTC_RECONNECT_REQUIRED
                    message: "WebRTC connection closed — call /webrtc/offer again to reconnect"
                    details: {}
                invalidCandidate:
                  summary: malformed candidate
                  value:
                    error: INVALID_CANDIDATE
                    message: Failed to parse ICE candidate.
                    details: {}
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/webhooks:
    get:
      operationId: listWebhookEndpoints
      tags: [Webhooks]
      summary: List webhook endpoints
      security:
        - AdminSession: []
      responses:
        "200":
          description: Webhook endpoints for the workspace
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookEndpoint"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
    post:
      operationId: createWebhookEndpoint
      tags: [Webhooks]
      summary: Create a webhook endpoint
      description: |
        Creates a new webhook endpoint. The response includes the signing secret — it is
        shown only once and cannot be retrieved again. Regenerate it from
        `POST /api/v1/webhooks/{webhook_id}/regenerate-secret` if lost.
      security:
        - AdminSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
            example:
              url: "https://example.com/webhooks/humain"
              event_types: [session.opened, session.ended, guardrail.fired]
              enabled: true
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointWithSecret"
        "400":
          description: Invalid URL or event type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"

  /api/v1/webhooks/{webhook_id}:
    parameters:
      - $ref: "#/components/parameters/WebhookId"
    get:
      operationId: getWebhookEndpoint
      tags: [Webhooks]
      summary: Get a webhook endpoint
      security:
        - AdminSession: []
      responses:
        "200":
          description: Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateWebhookEndpoint
      tags: [Webhooks]
      summary: Update a webhook endpoint
      security:
        - AdminSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "200":
          description: Webhook endpoint updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteWebhookEndpoint
      tags: [Webhooks]
      summary: Delete a webhook endpoint
      security:
        - AdminSession: []
      responses:
        "204":
          description: Webhook endpoint deleted — no body returned
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/webhooks/{webhook_id}/test:
    post:
      operationId: sendTestWebhookEvent
      tags: [Webhooks]
      summary: Send a test event
      description: |
        Sends a `session.opened` payload with placeholder data to the endpoint, signed with
        its real secret. Equivalent to the **Send test event** button in the admin panel.
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      security:
        - AdminSession: []
      responses:
        "202":
          description: Test event queued for delivery
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/webhooks/{webhook_id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags: [Webhooks]
      summary: List recent deliveries
      description: |
        Returns the most recent delivery attempts for the endpoint, including retries,
        for debugging failed or delayed webhooks.
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      security:
        - AdminSession: []
      responses:
        "200":
          description: Recent delivery attempts, most recent first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/analytics/sessions:
    get:
      operationId: querySessionAnalytics
      tags: [Analytics]
      summary: Query session analytics
      description: |
        Returns session counts, average duration, and completion rate bucketed by day or
        hour over the requested date range.
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the date range (inclusive), ISO 8601 date.
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: End of the date range (inclusive), ISO 8601 date.
          schema:
            type: string
            format: date
        - name: kiosk_id
          in: query
          required: false
          description: Filter to a single kiosk. Omit to aggregate across the workspace.
          schema:
            type: string
        - name: granularity
          in: query
          required: false
          description: Bucket size for the returned series.
          schema:
            type: string
            enum: [hour, day]
            default: day
      security:
        - AdminSession: []
      responses:
        "200":
          description: Session analytics series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionAnalyticsResponse"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"

  /api/v1/analytics/usage:
    get:
      operationId: queryUsageAnalytics
      tags: [Analytics]
      summary: Query usage analytics
      description: |
        Returns LLM token, STT minute, and TTS character consumption bucketed by day over
        the requested date range — useful for cost tracking and plan limit monitoring.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: kiosk_id
          in: query
          required: false
          schema:
            type: string
      security:
        - AdminSession: []
      responses:
        "200":
          description: Usage analytics series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageAnalyticsResponse"
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"

components:
  securitySchemes:
    DeviceToken:
      type: http
      scheme: bearer
      bearerFormat: hk_live_{43-char-base64url} | hk_test_{43-char-base64url}
      description: |
        Device credential issued from the Humain admin panel under
        **Kiosk → Credentials → Issue new credential**.

        Format: `hk_live_` (production) or `hk_test_` (sandbox) followed by 43 base64url
        characters (32 random bytes). The raw token is shown only once at creation time and
        is never stored in plain text.

    AdminSession:
      type: apiKey
      in: cookie
      name: __session
      description: |
        Admin panel session cookie (HttpOnly), issued when a workspace admin signs in.
        Webhook and analytics endpoints are part of the Admin API surface and are not
        accessible with a device credential.

  parameters:
    SessionId:
      name: sid
      in: path
      required: true
      description: Session UUID returned by `POST /v1/sessions`
      schema:
        type: string
        format: uuid
        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"

    WebhookId:
      name: webhook_id
      in: path
      required: true
      description: Webhook endpoint identifier returned by `POST /api/v1/webhooks`
      schema:
        type: string
        example: "wh_9f2a1c"

  schemas:
    OpenSessionRequest:
      type: object
      required: [mode]
      properties:
        mode:
          type: string
          enum: [text, voice, voip]
          description: |
            The session interaction mode.
            - `text` — REST + WebSocket messaging
            - `voice` — WebRTC real-time audio
            - `voip` — SIP telephony bridge
        preferred_language:
          type: string
          description: |
            BCP-47 language code for this session (e.g. `"tr"`, `"ar"`, `"de"`).
            The server uses the matching language persona if one is configured on the kiosk.
            Falls back to the kiosk's default language if no match is found.
            Omit to use the kiosk's default.
          example: "tr"
        conversation_initiation_data:
          type: object
          description: Optional structured data attached to the session at open time.
          properties:
            variables:
              type: object
              additionalProperties:
                type: string
              description: |
                Key-value pairs injected into the persona prompt as template variables.
                Keys must match a variable declared on the kiosk (**Kiosk → Persona → Variables**)
                or they are silently ignored. See [Dynamic variables](/guides/dynamic-variables).
              example:
                customer_name: "Alice"
                booking_ref: "TK-9021"

    OpenSessionResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Unique session identifier — pass this to all subsequent calls.
        agent_url:
          type: string
          format: uri
          description: |
            Base URL for every real-time call on this session — the WebSocket
            (`GET {agent_url}/v1/sessions/{sid}/ws`), WebRTC signalling
            (`POST {agent_url}/v1/sessions/{sid}/webrtc/offer` and `.../ice`), and
            `POST {agent_url}/v1/sessions/{sid}/end`. Do not assume it equals the host that
            served this request. Treat it as opaque — in most deployments it is the same
            public API host behind a reverse proxy.
          example: "https://api.humain.ai"
        detected_language:
          type: string
          description: |
            Currently just echoes the `preferred_language` you sent — the server does not yet
            perform real language detection. Omitted if `preferred_language` was not sent.
          example: "tr"
        disclosure_text:
          type: string
          description: |
            Reserved for a forthcoming EU AI Act disclosure feature. **Not yet populated by
            the server** — always omitted from the response today. Do not build a UI that
            depends on this field appearing.
        ice_servers:
          type: array
          description: |
            TURN/STUN server credentials, present only when TURN relay is configured for
            this workspace. Pass directly to `RTCPeerConnection`'s `iceServers` config.
          items:
            $ref: "#/components/schemas/ICEServerConfig"

    ICEServerConfig:
      type: object
      properties:
        urls:
          type: array
          items:
            type: string
          example: ["turn:turn.humain.ai:3478", "stun:turn.humain.ai"]
        username:
          type: string
        credential:
          type: string

    WSTicketResponse:
      type: object
      properties:
        ticket:
          type: string
          description: Single-use ticket. Pass as `?ticket=` on the WebSocket upgrade URL.
        expires_in:
          type: integer
          description: Seconds until the ticket expires if unused (default 30s).

    WebRTCOfferRequest:
      type: object
      required: [sdp]
      properties:
        sdp:
          type: string
          description: SDP offer string from `RTCPeerConnection.createOffer()`.

    WebRTCOfferResponse:
      type: object
      properties:
        sdp:
          type: string
          description: Server SDP answer — pass to `RTCPeerConnection.setRemoteDescription()`.

    WebRTCICERequest:
      type: object
      required: [candidate, sdp_mid, sdp_mline_index]
      properties:
        candidate:
          type: string
          description: ICE candidate string from `RTCPeerConnection.onicecandidate`.
        sdp_mid:
          type: string
          description: Media stream identification tag (`candidate.sdpMid`).
        sdp_mline_index:
          type: integer
          description: Index of the media description (`candidate.sdpMLineIndex`).

    WebhookEventType:
      type: string
      enum:
        - session.opened
        - session.ended
        - guardrail.fired
        - fraud.blocked
        - credential.revoked
        - kiosk.updated
        - document.processed
        - escalation.created
      description: See [Webhooks — event types](/guides/webhooks#event-types) for payload schemas.

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          example: "wh_9f2a1c"
        url:
          type: string
          format: uri
          example: "https://example.com/webhooks/humain"
        event_types:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
        enabled:
          type: boolean
        secret_prefix:
          type: string
          description: First 8 characters of the signing secret, for identification only.
          example: "whsec_a1"
        created_at:
          type: string
          format: date-time

    WebhookEndpointWithSecret:
      allOf:
        - $ref: "#/components/schemas/WebhookEndpoint"
        - type: object
          properties:
            secret:
              type: string
              description: |
                Full HMAC signing secret. Shown only in the response to
                `POST /api/v1/webhooks` — store it immediately, it cannot be retrieved again.
              example: "whsec_a1b2c3d4e5f6..."

    CreateWebhookRequest:
      type: object
      required: [url, event_types]
      properties:
        url:
          type: string
          format: uri
          description: HTTPS URL to receive webhook deliveries.
        event_types:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
          minItems: 1
        enabled:
          type: boolean
          default: true

    UpdateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
        enabled:
          type: boolean

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          description: Delivery UUID — matches the `id` field in the delivered event envelope.
          example: "evt_3fa85f64571445"
        event_type:
          $ref: "#/components/schemas/WebhookEventType"
        status:
          type: string
          enum: [delivered, failed, pending]
        response_code:
          type: integer
          nullable: true
          description: HTTP status code returned by the endpoint, if a response was received.
        attempt_count:
          type: integer
        attempted_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true

    SessionAnalyticsBucket:
      type: object
      properties:
        date:
          type: string
          format: date-time
        session_count:
          type: integer
        avg_duration_s:
          type: number
        completion_rate:
          type: number
          description: "Fraction of sessions that ended with `end_reason: completed`."

    SessionAnalyticsResponse:
      type: object
      properties:
        granularity:
          type: string
          enum: [hour, day]
        buckets:
          type: array
          items:
            $ref: "#/components/schemas/SessionAnalyticsBucket"

    UsageAnalyticsBucket:
      type: object
      properties:
        date:
          type: string
          format: date
        llm_tokens:
          type: integer
        stt_minutes:
          type: number
        tts_characters:
          type: integer

    UsageAnalyticsResponse:
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: "#/components/schemas/UsageAnalyticsBucket"

    Error:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code in SCREAMING_SNAKE_CASE.
          example: UNAUTHENTICATED
        message:
          type: string
          description: Human-readable description of the error.
          example: Missing or invalid device token.
        details:
          type: object
          description: Additional error-specific fields (see individual error descriptions).

  responses:
    Unauthenticated:
      description: Missing or invalid device token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: UNAUTHENTICATED
            message: Missing or invalid device token.
            details: {}

    Forbidden:
      description: |
        Valid token but the request is not permitted. One of:
        - `KIOSK_INACTIVE` — the kiosk's status is not *active*
        - `CREDENTIAL_BLOCKED` — FraudGuard blocked this credential. When returned, the response
          includes a `Retry-After` header with the number of seconds until the block expires.
      headers:
        Retry-After:
          description: |
            Seconds until the credential block expires. Only present when `error` is
            `CREDENTIAL_BLOCKED`. Do not retry before this time has elapsed.
          schema:
            type: integer
            example: 3600
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            kioskInactive:
              summary: Kiosk not active
              value:
                error: KIOSK_INACTIVE
                message: This kiosk is not currently active.
                details: {}
            credentialBlocked:
              summary: Credential blocked by FraudGuard
              value:
                error: CREDENTIAL_BLOCKED
                message: This credential has been blocked due to suspicious activity.
                details:
                  blocked_until: "2026-05-24T15:30:00Z"
                  reason: Excessive rate-limit violations

    PlanLimitReached:
      description: The workspace has reached its plan's session limit.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: PLAN_LIMIT_REACHED
            message: Monthly session limit reached. Upgrade your plan to continue.
            details: {}

    RateLimited:
      description: |
        Too many requests. Slow down and retry after `details.retry_after_seconds`.
        A `Retry-After` header is also included with the same value for HTTP-standard clients.
      headers:
        Retry-After:
          description: Seconds to wait before retrying. Mirrors `details.retry_after_seconds`.
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: RATE_LIMITED
            message: Rate limit exceeded.
            details:
              retry_after_seconds: 30

    InputRejected:
      description: |
        The input was blocked by a guardrail rule or FraudGuard pattern detection.
        `details.reason` describes why.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: INPUT_REJECTED
            message: Input was rejected by a content rule.
            details:
              reason: Contains a blocked phrase.

    SessionEnded:
      description: The session has already ended or the time limit was reached.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: SESSION_ENDED
            message: This session has already ended.
            details: {}

    ProviderError:
      description: |
        The LLM, STT, or TTS provider returned an error or is temporarily unavailable.
        Retry with exponential back-off.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: PROVIDER_ERROR
            message: AI provider is temporarily unavailable. Please retry.
            details: {}

    InternalError:
      description: Unexpected server-side error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: INTERNAL_ERROR
            message: An unexpected error occurred.
            details: {}

    AdminUnauthenticated:
      description: Missing or invalid admin session.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: UNAUTHENTICATED
            message: Missing or invalid admin session.
            details: {}

    NotFound:
      description: The requested resource does not exist in this workspace.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: NOT_FOUND
            message: The requested resource was not found.
            details: {}
